body {
  margin: 0;
  background: #111;
  color: white;
  font-family: sans-serif;
}
header {
  padding: 10px;
  background: #222;
  display: flex;
  gap: 10px;
  align-items: center;
}
canvas {
  display: block;
  width: 100vw;
  height: calc(100vh - 50px);
  background: #333;
  cursor: crosshair;
}
